<div class="tab-pane fade" id="ca-chart" role="tabpanel" aria-labelledby="ca-chart-tab">
    <div class="chart-container">
        {{ div1|safe }}
    </div>
</div>
<div class="tab-pane fade" id="ecarts-chart" role="tabpanel"
     aria-labelledby="ecarts-chart-tab">
    <div class="chart-container">
        {{ div2|safe }}
    </div>
</div>
<div class="tab-pane fade" id="mostsold-chart" role="tabpanel"
     aria-labelledby="mostsold-chart-tab">
    <div class="chart-container">
        {{ div3|safe }}
    </div>
</div>
<div class="tab-pane fade" id="ecartqt-bp-chart" role="tabpanel">
    <div class="chart-container">
        {{ div4|safe }}
    </div>
</div>